body {
  color: #a56830;
  font-family: "Zilla Slab", serif;
}
#navbarNav a {
  font-size: 18px;
  color: #a56830;
  text-shadow: 2px 2px 5px #a56830;
}
.carousel-inner {
  max-height: 39rem;
}
.grid {
  display: grid;
  grid-template-rows: auto 1fr;
}

.texto {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #351a00;
}

.texto__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 100%;
  height: 80%;
}
.texto__subtitulo {
  font-size: 18px;
}
.texto__titulo.index {
  font-size: 64px;
  font-weight: bold;
  text-align: center;
}
.decoracion {
  height: 200px;
  width: 300px;
}

/* =======================================================*/
/*-- Bienvenidos--*/
/* =======================================================*/

/* Habitaciones*/
.habitaciones {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f4d69a;
}
.habitaciones__grid {
  display: grid;
  grid-template-columns: 400px 400px;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.habitaciones__img {
  width: 100%;
  height: 100%;
}
.habitaciones__img:hover {
  transform: scale(2, 2);
}
.habitaciones__descripcion {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  background-color: white;
}

/* Mapa*/
.mapa {
  background-color: white;
  padding-top: 15px;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
.mapa__contenido {
  width: 30%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.mapa__img {
  width: 30%;
  height: 70%;
}
/* Slogan*/
.slogan {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4d69a;
  font-size: 36px;
  font-weight: bold;
}
/*Servicios*/
.servicios {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}
.servicios div {
  width: 50%;
  height: 50%;
}
.servicios__img {
  height: 100%;
  width: 100%;
}
.servicios__descripcion {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

/* =======================================================*/
/*-- Servicios --*/
/* =======================================================*/
.servicios-page-grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.texto__servicios {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #351a00;
}
.texto__titulo.servicios {
  font-size: 54px;
  font-weight: bold;
  text-shadow: 2px 2px 5px #a56830;
}
.servicios-page-flex {
  display: flex;
  flex-wrap: wrap;
  padding-top: 100px;
  background-color: #f4d69a;
}
.servicios-page-flex div {
  width: 50%;
  height: 33.33%;
  background-color: white;
}
.servicios-page__textos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 20px;
}
.servicios-page__textos ul {
  list-style: none;
  margin: 30px;
}
.servicios-page__img {
  width: 100%;
  height: 100%;
}
/* =======================================================*/
/*-- Tarifas --*/
/* =======================================================*/
.tarifas-grid {
  display: grid;
  grid-template-rows: 1fr;
}
.texto__titulo.tarifas {
  font-size: 54px;
  font-weight: bold;
  text-shadow: 2px 2px 5px #a56830;
}
.tarifas__descripcion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f4d69a;
}
.tarifas__descripcion p {
  margin: 10px;
  font-size: 22px;
  font-weight: bold;
}
.tarifas__cards {
  display: flex;
  flex-wrap: wrap;
  font-family: "Zilla Slab", serif;
}
.tarifas__fila {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
  padding-bottom: 50px;
}
.tarifas__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: white;
  background-color: #351a00;
  width: 10%;
}
.tarifas__card-titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #a56830;
  background-color: #f6b511;
  height: 33%;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
}
.tarifas__precio {
  color: white;
  font-weight: bold;
  font-size: 22px;
}

.tarifas__card-button {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(255, 209, 67, 1) 0%,
    rgba(255, 145, 83, 1) 90%
  );
  color: white;
  border: 3px solid #f6b511;
  border-radius: 11px;
  width: 95%;
  height: 25%;
  margin-bottom: 7.5px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 15px;
  font-weight: bold;
  position: relative;
}
.tarifas__card-button:hover {
  color: #351a00;
  background-image: linear-gradient(
    0.9deg,
    rgba(253, 144, 0, 1) 21.1%,
    rgba(254, 227, 130, 1) 96.8%
  );
}
.tarifas__titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: black;

  /*Animaciones*/
  animation-name: tarifas__titulo;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}
@keyframes tarifas__titulo {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    text-shadow: 0 9px 18px rgba(0, 0, 0, 0.35);
  }
}
/* =======================================================*/
/*-- Novedades --*/
/* =======================================================*/
.novedades-grid {
  display: grid;
  grid-template-rows: auto 4fr 7.5fr;
}

@media screen and (max-width: 600px) {
  .novedades-grid {
    display: grid;
    grid-template-rows: auto 0.2fr 1.5fr;
    grid-template-columns: 100%;
  }

  .texto {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #351a00;
  }
}

.texto__titulo.novedades {
  font-size: 54px;
  font-weight: bold;
  text-shadow: 2px 2px 5px #a56830;
}

@media screen and (max-width: 600px) {
  .texto__titulo.novedades {
    font-size: 24px;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .texto__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100%;
  }
}

.novedades__titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  background-color: #f4d69a;
  font-size: 24px;
}

@media screen and (max-width: 600px) {
  .novedades__titulo {
    font-size: 16px;
    text-align: center;
  }
}

.novedades__lugares-grid {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: 300px 300px;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

@media screen and (max-width: 600px) {
  .novedades__lugares-grid {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 300px 300px 300px 300px;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}

.novedades__tarjeta {
  width: 100%;
  height: 90%;
}
.novedades__img {
  width: 100%;
  height: 80%;
}
.novedades__img:hover {
  transform: scale(1.5, 1.5);
}
.novedades__descripcion {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  background-color: #f4d69a;
  height: 45px;
}

/* =======================================================*/
/*-- Contacto --*/
/* =======================================================*/
.contacto-grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.contacto__form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-image: url("../img/imageedit_3_7909369259.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-left: 10%;
  padding-right: 10%;
}
.texto__titulo.contacto {
  font-size: 54px;
  font-weight: bold;
  text-shadow: 2px 2px 5px #a56830;
}

.contacto__datos {
  height: 8%;
}
.contacto__datos input {
  width: 25%;
  height: 100%;
  margin-right: 20px;
  border: 3px solid #f6b511;
}
.contacto__mensaje {
  height: 45%;
}
.contacto__mensaje textarea {
  height: 100%;
  width: 100%;
  resize: none;
  border: 3px solid #f6b511;
}
.contacto__boton {
  height: 8%;
}
.contacto__boton button {
  height: 100%;
  width: 20%;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(255, 209, 67, 1) 0%,
    rgba(255, 145, 83, 1) 90%
  );
  color: white;
  border: 3px solid #f6b511;
  border-radius: 11px;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
}
.contacto__boton button:hover {
  color: #351a00;
  background-image: linear-gradient(
    0.9deg,
    rgba(253, 144, 0, 1) 21.1%,
    rgba(254, 227, 130, 1) 96.8%
  );
}

.contacto__informacion {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 10%;
  padding-right: 10%;
}

.contacto__informacion div {
  font-weight: bold;
  font-size: 18px;
}

.contacto__amarillo {
  color: #f6b511;
}
.contacto__marron {
  color: #351a00;
}

/* =======================================================*/
/*-- Footer --*/
/* =======================================================*/
.footer {
  display: grid;
  grid-template-rows: 1fr 1.5fr 1fr;
  height: 150px;
  width: 100%;
  background-color: #f4d69a;
  align-items: center;
  justify-items: center;
}
.footer__titulo {
  font-size: 24px;
  font-weight: bold;
}
.footer__social-media-img {
  height: 50px;
  width: 50px;
}
.footer__copyright {
  background-color: #a5672a;
  color: white;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 10px;
}
