footer {
  background: #f4d69a; }

.container-footer {
  width: 100%;
  max-width: 1200px;
  margin: auto; }
  .container-footer__informacion {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px; }
    @media screen and (max-width: 600px) {
      .container-footer__informacion {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center; } }
    .container-footer__informacion__nosotros {
      max-width: 400px; }
      .container-footer__informacion__nosotros h1 {
        font-size: 24px;
        margin: 10px;
        font-weight: bold;
        padding-top: 20px; }
      .container-footer__informacion__nosotros p {
        font-size: 14px;
        margin-top: 20px;
        color: #351a00; }
    .container-footer__informacion__redes h1 {
      font-size: 24px;
      margin-left: 30px;
      margin-top: 10px;
      font-weight: bold;
      padding-top: 20px; }
      @media screen and (max-width: 600px) {
        .container-footer__informacion__redes h1 {
          margin-left: 0; } }
    .container-footer__informacion__redes .row {
      color: #351a00;
      margin-top: 10px;
      margin-left: 20px; }
      @media screen and (max-width: 600px) {
        .container-footer__informacion__redes .row {
          margin-left: 0; } }
    .container-footer__informacion__contacto {
      max-width: 400px; }
      .container-footer__informacion__contacto h1 {
        font-size: 22px;
        margin-left: 90px;
        margin-top: 10px;
        font-weight: bold;
        padding-top: 20px; }
        @media screen and (max-width: 600px) {
          .container-footer__informacion__contacto h1 {
            margin-left: 0; } }
      .container-footer__informacion__contacto div {
        margin-top: 20px;
        margin-left: 90px;
        color: #351a00; }
        @media screen and (max-width: 600px) {
          .container-footer__informacion__contacto div {
            margin-left: 0; } }
  .container-footer__copyright {
    background-color: #351a00;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-left: 80px;
    padding-right: 80px; }
    @media screen and (max-width: 600px) {
      .container-footer__copyright {
        flex-direction: column;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px; } }
    .container-footer__copyright__derechos {
      color: #f6b511;
      font-style: oblique; }
    .container-footer__copyright__terminos a {
      color: white;
      text-decoration: none; }

#navbarNav a {
  font-size: 18px;
  color: #a56830;
  text-shadow: 2px 2px 5px #d3b667; }
  #navbarNav a:hover {
    background: #f4d69a;
    border-radius: 5px; }

.btn-wsp {
  height: 55px;
  width: 55px;
  position: fixed;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  background: #0df053;
  color: white;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100; }
  .btn-wsp:hover {
    text-decoration: none;
    color: #0df053;
    background-color: white; }

body {
  color: #a56830;
  font-family: "Zilla Slab", serif; }

.carousel-inner {
  max-height: 39rem; }

.decoracion {
  height: 200px;
  width: 300px; }
  @media screen and (max-width: 600px) {
    .decoracion {
      height: 50px;
      width: 50px; } }

.encabezado {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #351a00; }
  @media screen and (max-width: 600px) {
    .encabezado {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #351a00;
      width: 100%; } }
  .encabezado__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 80%;
    width: 100%; }
    @media screen and (max-width: 600px) {
      .encabezado__container {
        height: 45%;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white; } }
  .encabezado__titulo {
    height: 100%;
    width: 100%;
    color: #a56830;
    font-size: 64px;
    font-weight: bold;
    text-align: center;
    margin-top: 40px; }
    @media screen and (max-width: 600px) {
      .encabezado__titulo {
        font-size: 18px;
        text-align: center;
        margin-top: 25px; } }

@media screen and (max-width: 600px) {
  .encabezado__titulo {
    font-size: 18px;
    text-align: center;
    margin-top: 10px; } }

.servicios-page-flex {
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
  background-color: #f4d69a; }
  @media screen and (max-width: 600px) {
    .servicios-page-flex {
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center; }
      .servicios-page-flex #servicio__gastronomia-texto {
        order: 1; }
      .servicios-page-flex #servicio__gastronomia-img {
        order: 2; }
      .servicios-page-flex #servicio__masajes-texto {
        order: 3; }
      .servicios-page-flex #servicio__masajes-img {
        order: 4; }
      .servicios-page-flex #servicio__amenities-texto {
        order: 5; }
      .servicios-page-flex #servicio__amenities-img {
        order: 6; } }
  .servicios-page-flex div {
    width: 50%;
    height: 600px;
    background-color: white; }
    @media screen and (max-width: 600px) {
      .servicios-page-flex div {
        height: 450px;
        width: 98%; } }

.servicios-page__textos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 20px; }
  .servicios-page__textos ul {
    list-style: none;
    margin: 30px; }

.servicios-page__img {
  height: 100%;
  width: 100%; }

.conteiner-valoracion {
  display: flex;
  flex-direction: column;
  padding-top: 2.5%;
  align-items: center;
  background: #f4d69a;
  font-size: 36px;
  text-align: center;
  font-weight: bold;
  height: 20vh; }
  @media screen and (max-width: 600px) {
    .conteiner-valoracion {
      font-size: 24px;
      padding-top: 15px;
      height: 10vh; } }

.contenedor {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background: #f4d69a;
  background: -webkit-radial-gradient(center, #f4d69a, #a56830);
  background: -moz-radial-gradient(center, #f4d69a, #a56830);
  background: radial-gradient(ellipse at center, #f4d69a, #a56830);
  border: groove; }
  @media screen and (max-width: 600px) {
    .contenedor {
      display: flex;
      flex-direction: column; } }
  .contenedor-calificaciones {
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55vh; }
    @media screen and (max-width: 600px) {
      .contenedor-calificaciones {
        width: 80%;
        height: 35vh; } }
    .contenedor-calificaciones figure {
      position: relative;
      height: 250px;
      width: 350px;
      overflow: hidden;
      border-radius: 6px;
      box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
      cursor: pointer; }
      .contenedor-calificaciones figure img {
        width: 100%;
        height: 100%;
        transition: all 500ms ease-out; }
      .contenedor-calificaciones figure .capa {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(16, 101, 141, 0.7);
        transition: all 500ms ease-out;
        opacity: 0;
        visibility: hidden;
        text-align: center; }
        .contenedor-calificaciones figure .capa h3 {
          color: white;
          font-weight: 400px;
          margin-bottom: 120px;
          transition: all 500ms ease-out;
          margin-top: 30px; }
        .contenedor-calificaciones figure .capa p {
          color: white;
          font-size: 15px;
          line-height: 1.5;
          width: 100%;
          max-width: 220px;
          margin: auto; }
      .contenedor-calificaciones figure:hover > .capa {
        opacity: 1;
        visibility: visible; }
        .contenedor-calificaciones figure:hover > .capa h3 {
          margin-top: 40px;
          margin-bottom: 15px; }
      .contenedor-calificaciones figure:hover > img {
        transform: scale(1.3); }
