@import "variables";
@import "footer";
@import "nav";
@import "wpp";
@import "mixin";
@import "compartido";
@import "encabezado";

$lugares: (
  cerro-7colores: #4d2b39,
  garganta-del-diablo: #5acbe7,
  salinas: #b2dd14,
  hornocal: #20bf55,
);

@media screen and (max-width: $phone) {
  .encabezado__titulo {
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
  }
}

.grid-novedades {
  display: grid;
  grid-template-rows: 1fr 4fr;

  @media screen and (max-width: $phone) {
    display: grid;
    grid-template-rows: 0.1fr 1.5fr;
    grid-template-columns: 100%;
  }
}

.novedades {
  &__titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    background-color: $claro;
    font-size: 24px;
    color: $oscuro;

    @media screen and (max-width: $phone) {
      p {
        font-size: 14px;
        text-align: center;
      }
    }
  }

  &__lugares-grid {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 300px 300px;
    align-items: center;
    justify-content: center;
    gap: 20px;

    @media screen and (max-width: $phone) {
      display: grid;
      grid-template-columns: 300px;
      grid-template-rows: 300px 300px 300px 300px;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }
  }

  &__tarjeta {
    @include sizes(100%, 90%);
    &__img {
      @include sizes(100%, 80%);

      @each $lugar, $color in $lugares {
        &##{$lugar}:hover {
          transform: scale(1.5, 1.5);
          border: 8px solid $color;
        }
      }
    }

    &__descripcion {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      background-color: $claro;
      height: 45px;

      @each $lugar, $color in $lugares {
        &-#{$lugar} {
          @extend .novedades__tarjeta__descripcion;
          background-color: $color;
        }
      }
    }
  }
}

.container-acordeon {
  border: 6px solid $principal;
  margin-bottom: 20px;
  .negrita {
    font-weight: bold;
  }
}

.accordion-collapse.collapse {
  font-size: 18px;
}

.accordion-button {
  &.collapsed {
    font-size: 24px;
    font-weight: bold;
    background-color: $claro;
    color: $principal;
  }

  &:not(.collapsed) {
    font-size: 22px;
    color: $oscuro;
    background-color: $amarillo;
  }
}
